
  .product___card{
    border-radius: 10px;
    border: 2px solid rgba(111,115,119,0.07);
   position: relative;
   overflow: hidden;
   .descount{
    position: absolute;
    top: 14px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 0;
    background-color: #ff7500;
    color: white;
    width: 20%;

   }
  
   .img-product{
    //  transition: all 0.1s ease;
    width: 100%;
   }

   
   &:hover{
    .product__card__help{
      animation: animateHelp 0.4s forwards ease; 

    }
    .product___heart{
      animation: animateHelp 0.4s forwards ease; 
    }
    .product__card__help__sub{
      animation: animateSubHelp 0.4s forwards ease; 

    }
 }
 
  
  }
  .img-down{
    // position: relative;
    position: absolute;
    top: 85%;
    right: 30%;
    .product__card__help{
      z-index: 50;
      opacity: 0;
      margin: 0 0.5rem;
      width: 50px;
      img{
         border-radius: 8px;
         border: 1px solid #00bf6f;
         width:100%;
         cursor: pointer;
       }
      
     }
     .product__card__help__sub{
        z-index: 50;
        opacity: 0;
        margin: 0 0.5rem;
        width: 50px;
        img{
          border-radius: 8px;
          border: 1px solid #00bf6f;
          width:100%;
          cursor: pointer;
        }

     }
  }


  .section-product{
    position: relative;
    .product___heart{
      cursor: pointer;
     svg{
       display: none ;
       position: absolute !important;
       width: 40px;
       box-shadow: 0px 1px 4px 0 #726b6b7a;
       height: 40px;
       right: 0.5rem !important;
       top: 0 !important;
       background: #fff !important;
       border-radius: 50% !important;
       padding: 6px !important;
       transition: all 0.5s ease;
       cursor: pointer;
       z-index: 100;
       @media (max-width:768px) {
       display: block;
      }
     }
     
  
   }

   &:hover{
    svg{
    display: block !important;
  }
}

   .product___card-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(111,115,119,0.07);
    top: 0;
    left: 0;
    z-index: 1;
   }
  }


   .product___card-price{
     color: #00bf6f;
   }
   .product__card-size{
     border: 1px solid rgba(143, 143, 143, 0.171);
     padding: 2px 11px;
     color: rgba(0, 0, 0, 0.445);
  }


  @keyframes  animateHelp {
    0%{
      opacity: 0;
      transform: translateX(179px);
    }
    100%{
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes  animateSubHelp {
    0%{
      opacity: 0;
      transform: translateX(-194px);
    }
    100%{
      opacity: 1;
      transform: translateX(0);
    }
  }