.discount-value{
    color: #f16422;
    font-size: 14px;
}

.discount-price{
    background: #ffeae0;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 20px;
}
.discount{
    color: #949597;
}
.price{
    color: #00bf6f;position: relative;
    &::after{
        position: absolute;
        content: '';
        width: 183px;
        height: 1px;
        background: #ebebeb;
        bottom: -32px;
        right: 0;
    }
}

.single-select{
    width: 215px;
    border: 1px solid #ebebeb;
    padding: 8px;
    background: transparent;
    border-radius: 8px;
}
.btn-size{
    @extend .single-select;
    color:#00bf6f;
    width: 239px;
    border: 1px solid #ebebeb;
    padding: 16px;
    background: transparent;
    border-radius: 8px;
}
.basket{
    background-color: #00bf6f;
    border: 1px solid #00bf6f;
    padding: 1rem 136px;
    color: white;
}
.product{
    position: relative;
    border: 1px solid #dddcdc;
    border-radius: 9px;
    img{
        width: 30rem;
    }
}
.product-arrowImg{
    border: 1px solid #dddcdc;
    cursor: pointer;
    width: 7rem;
       border-radius: 2px;
   
 img{
     width: 100%;
 }
}
.discount-product{
    position: absolute;
    top: 14px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 0;
    background-color: #ff7500;
    color: white;
    width: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000003;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        border-bottom: 2px solid #00bf6f;
        bottom: -19px;
        width: 99px;
        right: 0;
        height: 10px;
    }
}


.nav-tabs .nav-link{
    color: #7d7e7e ;
    border: transparent;
    padding-left: 3rem;
    padding-right: 0;
}

.nav-tabs {
    border-bottom: none !important;
}
.lists-tabs{
    li {
       padding: 5px 0;
    }
    small{
        color: #28292c;
    }
}
.tab-content{
    padding-right: 10px;
}
.tab-content{
    background-color: #f9fafb;
}

.tbody, td, tfoot, th, thead, tr{
    border-style: none;
}

.product-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(111,115,119,0.07);
    top: 0;
    left: 0;
    z-index: 1;
}

thead{
    background-color: black;
    color: white;

}

.modal-content{
    border-radius: 21px !important;
}
.modal-header{
    border-bottom: 0;
}

.modal-footer{
    border-top: 0;
}

svg *{
    cursor: pointer;
}


.cart__modal__btn__visibale{
    width: 170px;
    height: 50px;
    border: 1px solid #00bf6f !important;
    background-color: #00bf6f !important; 
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
    &:hover{
        background-color: #05995b;
    }
}

.cart__modal__btn__cancel{
    width: 170px;
    height: 50px;
    border: 1px solid #c5c7cb;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    background-color: transparent;
    color: black;
    &:hover{
        background-color: transparent;
        color: black;
        border: 1px solid #00bf6f;
    }
}

.cart__modal__btn__img{
    display: flex;
    justify-content: center;
}

.cart__modal__text {
  
    color:#00bf6f
}