// .box-size{
//     border: 1px solid #4545;
//     // /* width: 65%; */
//     padding: 6px 14px 4px 14px;
//     border-radius: 3px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }



.select-filter{
    width: 90%;
    border-color: #d7d7d74d;
    background: transparent;
    padding: .5rem;
}
